<div class="content-container">
  <h1>Welcome to <span class="highlight-text">Kani Pets!</span></h1>

  <p>Here you can upload, view and vote on pictures of the office pets!</p>
  <p><span class="highlight-text">Upload:</span> Choose a jpeg to upload and add a comment if you want.</p>
  <p><span class="highlight-text">Recent:</span> View the 10 most recent posts, vote on them, and view the comments by clicking on the image.</p>
  <p><span class="highlight-text">Leaderboard:</span> View a leaderboard of all the posts, view the comments and vote on them by clicking on the image.</p>
  <br />
  <p>What are you waiting for? Get started!</p>

</div>
